
<mat-toolbar>
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    menu
  </button>
  <span>{{title}}</span>
 <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<nav>
  <ul>
    <li><button mat-raised-button  routerLink="/home" routerLinkActive="active">Person Movie</button></li>
    <li><a mat-raised-button  routerLink="/persons" routerLinkActive="active">Persons</a></li>
    <li><a mat-raised-button  routerLink="/movies" routerLinkActive="active">Movies</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>